# Chp 19 Tuples

In [1]:
bio_data = ['Haseeb', 'Student', '9 to 12']
print(bio_data)

['Haseeb', 'Student', '9 to 12']

In [2]:
# In list we can change or append or edit because list is mutal (can be changed)
# on the other hand tuples are immutable (They cannot be change once they made)

In [3]:
tp_bio_data = ('Haseeb', 'Student', '9 to 12')
type(tp_bio_data)

tuple

In [5]:
lst = [1]
print(type(lst))

tp=(1)
print(type(tp))

<class 'list'>
<class 'int'>

In [6]:
#in tuple if we have one item we have to use , after that item otherwise it will not identify the type of data.

In [7]:
lst = [1]
print(type(lst))

#Here we place , after my value and it will change the type of data to tuple
tp=(1,)
print(type(tp))

<class 'list'>
<class 'tuple'>

In [8]:
tp_bio_data[1]

'Student'

In [9]:
tp_bio_data.count("Student")

1

In [11]:
tp_bio_data.index("Student")

1

In [14]:
my_bio_data = ("Abdul Haseeb", 30, "Civil Engineer" "5ft 2 inch",30)
print(my_bio_data.count(30))
print(my_bio_data.index("Abdul Haseeb"))

2
0

# Loops

for <temp_var> in <iterator>:
    <body>

In [15]:
fruits = ["Apple", "Mango","Grapes","Banana"]
for fruit in fruits:
    print(fruit)

Apple
Mango
Grapes
Banana

In [16]:
vegetables = ("Tomato", "Potato", "Onion")
for vegetable in vegetables:
    print(vegetable)

Tomato
Potato
Onion

In [22]:
fruits = ["Apple", "Mango","Grapes","Banana"]
for fruit, x in enumerate(fruits):
    print(f"your item #  {fruit} has {x}")

your item #  0 has Apple
your item #  1 has Mango
your item #  2 has Grapes
your item #  3 has Banana

In [25]:
for data in enumerate(fruits):
    print(f"{data[1]} is at {data[0]}")

Apple is at 0
Mango is at 1
Grapes is at 2
Banana is at 3

In [30]:
#Make sure index should be in sequence
# if the index list is greater than the list of colleciton then paired tuples will be printed only.
fruit_index = [0,1,2,3]
for data in zip(fruit_index,fruits):
    print(data)

(0, 'Apple')
(1, 'Mango')
(2, 'Grapes')
(3, 'Banana')

# Range

In [31]:
# Range is a generator function. which remember its previous state (means range knows which the previous value was given and what it will have to give next.)

for temp in range(5):
    print(temp)

0
1
2
3
4

In [34]:
for temp in range (2, 5):
    print(temp)

2
3
4

In [35]:
for temp in range(2,5,2):
    print (temp)

2
4

In [36]:
for numbers in range(20,26,3):
    print(numbers)

20
23

In [42]:
print(5*"Apple\n")

Apple
Apple
Apple
Apple
Apple

In [47]:
list("Apple")*5

['A',
 'p',
 'p',
 'l',
 'e',
 'A',
 'p',
 'p',
 'l',
 'e',
 'A',
 'p',
 'p',
 'l',
 'e',
 'A',
 'p',
 'p',
 'l',
 'e',
 'A',
 'p',
 'p',
 'l',
 'e']

In [73]:
clean_cities = ["Karachi", "Lahore", "Islamabad"]
other_cities=[]
user_data = input("Whcih city is clean according to you?: ")
for city in clean_cities:
    if user_data == city:
        print("Your city is already in clean_cities")
        break
    else:
        other_cities.append(user_data)

Whcih city is clean according to you?:  karachi

In [71]:
Group_A = ["Karachi", "Quetta", "Peshawar"]
Group_B = ["Multan", "Lahore", "Islamabad"]

for a in Group_A:
    for b in Group_B:
        print(F"{a}, 'VS',{b}")

Karachi, 'VS',Multan
Karachi, 'VS',Lahore
Karachi, 'VS',Islamabad
Quetta, 'VS',Multan
Quetta, 'VS',Lahore
Quetta, 'VS',Islamabad
Peshawar, 'VS',Multan
Peshawar, 'VS',Lahore
Peshawar, 'VS',Islamabad

# Casing

In [62]:
"abdul haseeb".upper()

'ABDUL HASEEB'

In [63]:
"abdul haseeb".lower()

'abdul haseeb'

In [64]:
"abdul haseeb".title()

'Abdul Haseeb'

# Dictionaries

In [65]:
# key:value 
dict = {'age':15, 'weight':15}
print(type(dict))

<class 'dict'>

In [66]:
dict['age']

15

In [77]:
customer = {"first name": "David", 
            "last name": "Elliott", 
            "address": "4803 Wellesley St."}
customer['address']

'4803 Wellesley St.'

In [80]:
#Keys can be a number
dict_vers1 = {
                    1:"Qasim",
                    2:"Hassan",
                    3:"Ali"
                    }
dict_vers1[2]

'Hassan'

In [83]:
#String can be used as keys
dict_vers2 = {
                    "Qasim":1,
                    "Hassan":2,
                    "Ali":3
                    }
dict_vers2["Hassan"]

2

In [84]:
customer["Phone"]="03128281234"
print(customer)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'Phone': '03128281234'}

In [86]:
customer["city"]="Karachi"
print(customer)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'Phone': '03128281234', 'city': 'Karachi'}

In [101]:
# check this
task_dic={}
total_task = int(input("How many task you want to do? "))
for work in range(total_task):
    a = input("Write about task")
    task_dic['Task'+[work]==a[work]]
print(task)

How many task you want to do?  1
Write about task a

TypeError: can only concatenate str (not "list") to str

In [102]:
# By default we get keys
for temp in customer:
    print(temp)

first name
last name
address
Phone
city

In [104]:
# for values of keys 
for temp in customer.values():
    print(temp)

David
Elliott
4803 Wellesley St.
03128281234
Karachi

In [109]:
for temp in customer.items():
    print(temp)

('first name', 'David')
('last name', 'Elliott')
('address', '4803 Wellesley St.')
('Phone', '03128281234')
('city', 'Karachi')

In [108]:
for key, value in customer.items():
    print(key,"---->",value)

first name ----> David
last name ----> Elliott
address ----> 4803 Wellesley St.
Phone ----> 03128281234
city ----> Karachi

In [122]:
list_of_dict = [{"first name":"David",
                 "last name":"Ellli",
                 "address":"Pakistan"   
                    },
               {'first name':'Qasim',
                 'last name':'Elllit',
                 'address':'Pakistan'},
                {'first name':'Ali',
                 'last name':'Elitt',
                 'address':'Pakistan'}]
for i in range(len(list_of_dict)):
    print(list_of_dict[i]["address"])

Pakistan
Pakistan
Pakistan