#### List
- mutal (can be change)

In [6]:
bio_data = ['Qasim', 'Trainer', '9to12']

In [7]:
bio_data

['Qasim', 'Trainer', '9to12']

#### Tuples
- immutable (can't be change)

In [8]:
tp_bio_data = ('Qasim', 'Trainer', '9to12')

In [9]:
type(tp_bio_data)

tuple

In [10]:
lst = [1]
print(type(lst))

tp = (1,)
print(type(tp))

<class 'list'>
<class 'tuple'>

In [11]:
tp_bio_data[1]

'Trainer'

In [12]:
tp_bio_data.count('Qasim')

1

In [13]:
tp_bio_data.index('Qasim')

0

In [14]:
persona_bio = ('Dawood', 19, '5.7 feet', 19)
print(persona_bio.index(19))
print(persona_bio.count('Dawood'))

1
1

#### Loops

In [15]:
fruits = ['Apple', 'Mango', 'Grapes', 'Banana']
fruits

['Apple', 'Mango', 'Grapes', 'Banana']

In [16]:
fruits[0], fruits[1]

('Apple', 'Mango')

In [17]:
'''
for <temp_var> in <iterator>:
    <body>
'''

'\nfor <temp_var> in <iterator>:\n    <body>\n'

In [18]:
for fruit in fruits:
    print(fruit)

Apple
Mango
Grapes
Banana

In [19]:
for data in bio_data:
    print(data)

Qasim
Trainer
9to12

In [20]:
em_fruits = enumerate(fruits)
print(em_fruits)

<enumerate object at 0x0000027818859760>

In [21]:
print(list(em_fruits))
# [(0, 'Apple'), (1, "Mango"), (2, "Grapes"), (3, "Banana")]

[(0, 'Apple'), (1, 'Mango'), (2, 'Grapes'), (3, 'Banana')]

In [22]:
for data in enumerate(fruits):
    print(f"{data[1]} is at {data[0]}")

Apple is at 0
Mango is at 1
Grapes is at 2
Banana is at 3

In [23]:
# 1. make sure index should be in sequence
# 2. if the index list greate than the list of collection
# then paried tuples will be printed
fruits_index = [2,1,4,3,5] 
print(fruits_index)
fruits

[2, 1, 4, 3, 5]

['Apple', 'Mango', 'Grapes', 'Banana']

In [24]:
for data in zip(fruits_index, fruits):
    print(data[0])

2
1
4
3

In [25]:
for temp in range(5):
    print(temp)

0
1
2
3
4

In [26]:
for temp in range(2, 5):
    print(temp)

2
3
4

In [27]:
'''
stop (exclusive) by step. range(i, j)
>> produces i, i+1, i+2, ..., j-1.

range(stop) -> range object range(start, stop[, step]) -> range object
'''

for temp in range(2, 5, 2):
    print(temp)

2
4

In [28]:
for temp in range("Apple", 15):
    print(temp)

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
for i in range(5):
    print('apple')

apple
apple
apple
apple
apple

####

In [ ]:
print("Apples\n"*5)

Apples
Apples
Apples
Apples
Apples

In [ ]:
group_A = ['Karachi', 'Lahore', 'Islamabad']
group_B = []

In [ ]:
user_input = input("Enter your Home City for Cricket Matach: ")

if user_input in group_A:
    print("Your city is already in group_A")
else:
    group_B.append(user_input)

In [ ]:
group_B

['Multan', 'Quetta', 'Peshawar']

In [ ]:
group_A

['Karachi', 'Lahore', 'Islamabad']

In [ ]:
for a in range(len(group_A)):
    for b in range(len(group_B)):
        print(group_A[a], '  VS  ', group_B[b])
        if group_A[a] == group_B[b]:
            print("Matched")
            break

Karachi   VS   Multan
Karachi   VS   Quetta
Karachi   VS   Peshawar
Lahore   VS   Multan
Lahore   VS   Quetta
Lahore   VS   Peshawar
Islamabad   VS   Multan
Islamabad   VS   Quetta
Islamabad   VS   Peshawar

#### Casing 

- upper()
- lower()
- title()

NOTE: they all can be applied on string dtype()

In [ ]:
"qasim".upper()

'QASIM'

In [ ]:
'QASIM'.lower()

'qasim'

In [ ]:
"qasim".title()

'Qasim'

#### Dictionaries: How to code one
- key:value

In [ ]:
dict = {'age': 15,
        'weight': 15}

In [ ]:
print(type(dict))

<class 'dict'>

In [ ]:
dict['age']

15

In [ ]:
customer = {"first name": "David",
            "last name": "Elliott",
            "address": "4803 Wellesley St."}

In [ ]:
customer['address']

'4803 Wellesley St.'

In [ ]:
# 1- Keys can be a number 
dict_versitality1 = {1: "Qasim",
                    2: "Hassan",
                    3: "Khan"}

In [ ]:
dict_versitality1[2]

'Hassan'

In [ ]:
# 2- Values can be a number 
dict_versitality2 = {"Qasim":1,
                    "Hassan":2,
                    "Khan":3}

In [ ]:
dict_versitality2['Hassan']

2

In [ ]:
# 2- Keys & Values both can be a number in single dict
things_to_remember = {0: "the lowest number",
                      "a dozen": 12,
                      "snake eyes":"a pair of ones",
                      13:"a baker's dozen"}

In [ ]:
# add valeus in dictionaries
customer["phone"] = "+92312345678"

In [ ]:
customer

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'phone': '+92312345678'}

In [ ]:
customer['city'] = 'Karachi'

In [ ]:
customer

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'phone': '+92312345678',
 'city': 'Karachi'}

In [ ]:
dictionary = {}
taskCount = input("How many tasks you want to do today?: ")
for count in range(int(taskCount)):
    dictionary['Task '+str(count)] = input("Enter your task: ")
dictionary

{'Task 0': 'Read', 'Task 1': 'write'}

In [ ]:
customer['city'] = "LA"

In [ ]:
customer

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'phone': '+92312345678',
 'city': 'LA'}

In [ ]:
del customer['phone'] # to delete phon from dict

In [ ]:
customer

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'city': 'LA'}

In [ ]:
# looping on dictionaries
# 1. By defualt keys & also with .keys() method
# 2. for Values we should use .values() method
# 3. for both keys & values we should use .items() method
for temp in customer.keys():
    print(temp)

first name
last name
address
city

In [ ]:
for temp in customer.values():
    print(temp)

David
Elliott
4803 Wellesley St.
LA

In [ ]:
for key, value in customer.items():
    print(key, "--> ", value)

first name -->  David
last name -->  Elliott
address -->  4803 Wellesley St.
city -->  LA

In [ ]:
## list of dictionaries

list_of_dict = [
    {'first name': 'David',
    'last name': 'Elliott',
    'address': '4803 Wellesley St.',
    'city': 'LA'},
    {'first name': 'Qasim',
    'last name': 'Hassan',
    'address': 'Near SMIT',
    'city': 'Karachi'},
    {'first name': 'Hassan',
    'last name': 'Khan',
    'address': 'Johar town',
    'city': 'Lahore'}
]

In [ ]:
customer1 = list_of_dict[0]
print(customer1)
address_customer1 = customer1['address']
print(address_customer1)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'LA'}
4803 Wellesley St.

In [ ]:
# for list  => Index
# for dict => key
for i in range(len(list_of_dict)):
    print(list_of_dict[i]['address'])

4803 Wellesley St.
Near SMIT
Johar town

In [33]:
data = [
    {
        'name': 'Instagram',
        'follower_count': 346,
        'description': 'Social media platform',
        'country': 'United States'
    },
    {
        'name': 'Cristiano Ronaldo',
        'follower_count': 215,
        'description': 'Footballer',
        'country': 'Portugal'
    },
    {
        'name': 'Ariana Grande',
        'follower_count': 183,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': 'Dwayne Johnson',
        'follower_count': 181,
        'description': 'Actor and professional wrestler',
        'country': 'United States'
    },
    {
        'name': 'Selena Gomez',
        'follower_count': 174,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': 'Kylie Jenner',
        'follower_count': 172,
        'description': 'Reality TV personality and businesswoman and Self-Made Billionaire',
        'country': 'United States'
    },
    {
        'name': 'Kim Kardashian',
        'follower_count': 167,
        'description': 'Reality TV personality and businesswoman',
        'country': 'United States'
    },
    {
        'name': 'Lionel Messi',
        'follower_count': 149,
        'description': 'Footballer',
        'country': 'Argentina'
    },
    {
        'name': 'Beyoncé',
        'follower_count': 145,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'Neymar',
        'follower_count': 138,
        'description': 'Footballer',
        'country': 'Brasil'
    },
    {
        'name': 'National Geographic',
        'follower_count': 135,
        'description': 'Magazine',
        'country': 'United States'
    },
    {
        'name': 'Justin Bieber',
        'follower_count': 133,
        'description': 'Musician',
        'country': 'Canada'
    },
    {
        'name': 'Taylor Swift',
        'follower_count': 131,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'Kendall Jenner',
        'follower_count': 127,
        'description': 'Reality TV personality and Model',
        'country': 'United States'
    },
    {
        'name': 'Jennifer Lopez',
        'follower_count': 119,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': 'Nicki Minaj',
        'follower_count': 113,
        'description': 'Musician',
        'country': 'Trinidad and Tobago'
    },
    {
        'name': 'Nike',
        'follower_count': 109,
        'description': 'Sportswear multinational',
        'country': 'United States'
    },
    {
        'name': 'Khloé Kardashian',
        'follower_count': 108,
        'description': 'Reality TV personality and businesswoman',
        'country': 'United States'
    },
    {
        'name': 'Miley Cyrus',
        'follower_count': 107,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': 'Katy Perry',
        'follower_count': 94,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'Kourtney Kardashian',
        'follower_count': 90,
        'description': 'Reality TV personality',
        'country': 'United States'
    },
    {
        'name': 'Kevin Hart',
        'follower_count': 89,
        'description': 'Comedian and actor',
        'country': 'United States'
    },
    {
        'name': 'Ellen DeGeneres',
        'follower_count': 87,
        'description': 'Comedian',
        'country': 'United States'
    },
    {
        'name': 'Real Madrid CF',
        'follower_count': 86,
        'description': 'Football club',
        'country': 'Spain'
    },
    {
        'name': 'FC Barcelona',
        'follower_count': 85,
        'description': 'Football club',
        'country': 'Spain'
    },
    {
        'name': 'Rihanna',
        'follower_count': 81,
        'description': 'Musician and businesswoman',
        'country': 'Barbados'
    },
    {
        'name': 'Demi Lovato',
        'follower_count': 80,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': "Victoria's Secret",
        'follower_count': 69,
        'description': 'Lingerie brand',
        'country': 'United States'
    },
    {
        'name': 'Zendaya',
        'follower_count': 68,
        'description': 'Actress and musician',
        'country': 'United States'
    },
    {
        'name': 'Shakira',
        'follower_count': 66,
        'description': 'Musician',
        'country': 'Colombia'
    },
    {
        'name': 'Drake',
        'follower_count': 65,
        'description': 'Musician',
        'country': 'Canada'
    },
    {
        'name': 'Chris Brown',
        'follower_count': 64,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'LeBron James',
        'follower_count': 63,
        'description': 'Basketball player',
        'country': 'United States'
    },
    {
        'name': 'Vin Diesel',
        'follower_count': 62,
        'description': 'Actor',
        'country': 'United States'
    },
    {
        'name': 'Cardi B',
        'follower_count': 67,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'David Beckham',
        'follower_count': 82,
        'description': 'Footballer',
        'country': 'United Kingdom'
    },
    {
        'name': 'Billie Eilish',
        'follower_count': 61,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'Justin Timberlake',
        'follower_count': 59,
        'description': 'Musician and actor',
        'country': 'United States'
    },
    {
        'name': 'UEFA Champions League',
        'follower_count': 58,
        'description': 'Club football competition',
        'country': 'Europe'
    },
    {
        'name': 'NASA',
        'follower_count': 56,
        'description': 'Space agency',
        'country': 'United States'
    },
    {
        'name': 'Emma Watson',
        'follower_count': 56,
        'description': 'Actress',
        'country': 'United Kingdom'
    },
    {
        'name': 'Shawn Mendes',
        'follower_count': 57,
        'description': 'Musician',
        'country': 'Canada'
    },
    {
        'name': 'Virat Kohli',
        'follower_count': 55,
        'description': 'Cricketer',
        'country': 'India'
    },
    {
        'name': 'Gigi Hadid',
        'follower_count': 54,
        'description': 'Model',
        'country': 'United States'
    },
    {
        'name': 'Priyanka Chopra Jonas',
        'follower_count': 53,
        'description': 'Actress and musician',
        'country': 'India'
    },
    {
        'name': '9GAG',
        'follower_count': 52,
        'description': 'Social media platform',
        'country': 'China'
    },
    {
        'name': 'Ronaldinho',
        'follower_count': 51,
        'description': 'Footballer',
        'country': 'Brasil'
    },
    {
        'name': 'Maluma',
        'follower_count': 50,
        'description': 'Musician',
        'country': 'Colombia'
    },
    {
        'name': 'Camila Cabello',
        'follower_count': 49,
        'description': 'Musician',
        'country': 'Cuba'
    },
    {
        'name': 'NBA',
        'follower_count': 47,
        'description': 'Club Basketball Competition',
        'country': 'United States'
    }
]

Comapare A: LeBron James, Basketball player, from United States
63
vs
Against B: UEFA Champions League, Club football competition, from Europe
58
a